header{
  height: 10vh;
}


main{
 height: 80vh; 
 width: 100vh;
 text-align: center;
 margin: auto ;
 display: flex;
 justify-content: center;
 align-items: center;
}


footer{
  height: 10vh;
}


.home img{
 max-width: "100%";
 height: "auto"

}
