
header{
  height: 10vh;
}


main{ 
  min-height: 80vh;
 width: 100vh;
 text-align: center;
 margin: auto ;
 display: flex;
 justify-content: center;
 align-items: center;
}


footer{
  height: 10vh;
}


.home img{
 max-width: "100%";
 height: "auto"

}

.details{
  padding:10px;
  text-align: left;
}

table{
  border-collapse: separate;
  border-spacing: 8px;
}

td .btn{
  margin: 5px;
}


.list{
  margin-top: 5%;
  margin-bottom: 5%;
}

form {
  display: flex;
  flex-direction: column;
  gap:10px; 

}